# Generated 2025-08-25T10:51:26.977741Z
# Python 3.12.11
# Verify versions and remove comments where necessary
torch==2.7.1+cu128
numpy==2.3.1
pandas==2.3.1
scikit-learn==1.7.0
tqdm==4.67.1
tiktoken==0.9.0
linformer==0.2.3
psutil==7.0.0
matplotlib==3.10.3
